.error-label {
    color:red;
    display: none;
}

.container {
    width: 30%;
    margin-top: 150px;
    border-radius: 10px;
}

h2 {
    color:white;
}

.mb-3 {
    color: white;
}

.form-control {
    background-color: rgba(43,48,53,255); 
    color: white; 
    border-color: rgb(39, 38, 38);
}

.divider{
    width:10px;
    height:auto;
    display:inline-block;
}